# Problems

This notebook discusses problems that occured during project and weren't solved yet.

## Imports

In [60]:
import pandas as pd
from ast import literal_eval

## Preprocessing

In [61]:
df = pd.read_excel('docker/chart-power-scores_80s.xlsx')

In [62]:
df

      Year     Edates                       Song              Artist  Points
0     1984 1984-04-16                      Hello       Lionel Richie    1330
1     1985 1985-05-27                    Axel F.  Harold Faltermeyer    1467
2     1989 1989-09-04                    Lambada               Kaoma    1662
3     1986 1986-01-06                 Take On Me                A-ha     701
4     1985 1985-10-14                 Take On Me                A-ha    1022
...    ...        ...                        ...                 ...     ...
1995  1987 1987-03-16              Down To Earth            Level 42     711
1996  1987 1987-07-27  Mit Dir Des Wär Mei Leben        Pierre Cosso     702
1997  1987 1987-03-23        Ever Fallen In Love   Johnny Hates Jazz     830
1998  1987 1987-06-08         If You Let Me Stay     Pepsi & Shirlie     773
1999  1987 1987-01-05            Open Your Heart       Crowded House     718

[2000 rows x 5 columns]

In [63]:
chart_power_df = df.copy()
chart_power_df = chart_power_df.applymap(lambda s: s.lower() if type(s) == str else str(s))
chart_power_df = chart_power_df[['Song', 'Artist', 'Points']].groupby(['Song', 'Artist']).sum()
chart_power_df.reset_index(inplace=True)

In [64]:
chart_power_df.loc[chart_power_df['Song'] == 'felicita']

         Song                  Artist Points
509  felicita  al bano & romina power   2983
510  felicita            conny & jean    949

In [65]:
chart_power_df.sort_values('Points', ascending=False)

                     Song                         Artist   Points
0     'cause you're young                    c. c. catch      998
244               cherish                        madonna      998
877                 julie                         daniel      998
818       invisible touch                        genesis      998
1169         nur geträumt                           nena  9971482
...                   ...                            ...      ...
129         ballet dancer                      the twins     1002
1553   that's what i like  jive bunny & the mastermixers     1002
1268      prince charming                adam & the ants  1001427
1250    pick up the phone                     f.r. david     1001
875         juke box hero                      foreigner     1000

[1894 rows x 3 columns]

In [72]:
df[['Artist', 'Points']].groupby('Artist').sum().sort_values('Points', ascending=False)[:30]

                          Points
Artist
Madonna                    17632
Boney M.                   17062
Depeche Mode               16949
Shakin' Stevens            15475
Kim Wilde                  14854
Michael Jackson            14731
Queen                      14303
Howard Carpendale          13102
Phil Collins               12946
Sandra                     12457
Pet Shop Boys              12455
Roland Kaiser              11940
Tina Turner                11918
Falco                      11506
ABBA                       11120
Hot Chocolate              10338
Goombay Dance Band         10005
Nena                        9796
Electric Light Orchestra    9411
Kool & The Gang             9372
Secret Service [SE]         9321
A-ha                        9168
Eurythmics                  9047
Spider Murphy Gang          8988
O.M.D.                      8905
David Bowie                 8530
Modern Talking              8490
C. C. Catch                 8412
Wham!                       8249
Rod Stewart                 8248

## Madonna

In [114]:
by_isrc = pd.read_csv('data/checkpoint/by_isrc_oldest.csv')

In [120]:
by_isrc[by_isrc['artists'].str.contains('madonna')].drop_duplicates()['chart_power'].sum()

15486.0

The Chat Power is higher than in the chart power df..

In [122]:
madonna_df = by_isrc.copy()
madonna_df = madonna_df[madonna_df['artists'].str.contains('madonna')]
madonna_df['name'] = madonna_df['name'].str.lower()

In [123]:
madonna_df[madonna_df['artists'].str.contains('madonna')].drop_duplicates('name').sort_values('chart_power', ascending=False)[:10]

,isrc,genres,name,artists,album,release_date,release_date_precision,uri,spotify_id,chart_power,...,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year
398238,USWB10002775,"['dance', 'pop']",like a prayer,madonna,Like a Prayer,1989-03-21,day,spotify:track:2v7ywbUzCgcVohHaKUcacV,2v7ywbUzCgcVohHaKUcacV,2034.0,...,1,0.0387,0.4320,0.000073,0.1720,0.324,111.926,340867,4,1989
402149,USWB19903355,"['dance', 'pop']",la isla bonita,madonna,True Blue,1986-06-11,day,spotify:track:0NJdtoQ3RX5ckBjJlNXhlP,0NJdtoQ3RX5ckBjJlNXhlP,1882.0,...,0,0.0333,0.3040,0.000014,0.0553,0.964,99.900,242733,4,1986
402144,USWB19903344,"['dance', 'pop']",papa don't preach,madonna,True Blue,1986-06-11,day,spotify:track:2IaW3ta7JQAOGZXosktG1M,2IaW3ta7JQAOGZXosktG1M,1332.0,...,0,0.0313,0.3430,0.000008,0.0521,0.964,121.879,268533,4,1986
398234,USWB10002766,"['dance', 'pop']",who's that girl,madonna,Who's That Girl Soundtrack,1987-07-21,day,spotify:track:3G0NNqwQ1sqRpySr6soHlH,3G0NNqwQ1sqRpySr6soHlH,1307.0,...,0,0.0389,0.2140,0.053300,0.0525,0.826,103.893,239173,4,1987
398228,USWB10002748,"['dance', 'pop']",like a virgin,madonna,Like a Virgin,1984-11-12,day,spotify:track:1ZPlNanZsJSPK5h9YZZFbZ,1ZPlNanZsJSPK5h9YZZFbZ,1263.0,...,0,0.0372,0.1520,0.001970,0.0685,0.970,119.747,218627,4,1984
401698,USWB18300013,"['dance', 'pop']",holiday,madonna,Madonna,1983-07-27,day,spotify:track:3ibAzRj9JnowdoLkyllk3n,3ibAzRj9JnowdoLkyllk3n,1085.0,...,1,0.0458,0.0251,0.013500,0.0527,0.732,117.548,231560,4,1983
402070,USWB19903144,"['dance', 'pop']",live to tell,madonna,True Blue,1986-06-30,day,spotify:track:095MMFhB9qxPx2VsmvjnUs,095MMFhB9qxPx2VsmvjnUs,1046.0,...,0,0.0256,0.2630,0.001100,0.1070,0.235,109.943,351920,4,1986
402148,USWB19903353,"['dance', 'pop']",true blue,madonna,True Blue,1986-06-11,day,spotify:track:0rwSJNnKEiC3aIhjRUvGu3,0rwSJNnKEiC3aIhjRUvGu3,1007.0,...,1,0.0450,0.2310,0.000000,0.0502,0.866,117.947,257467,4,1986
398241,USWB10002780,"['dance', 'pop']",cherish,madonna,Like a Prayer,1989-03-21,day,spotify:track:5OKScc0MSa9Wl8g2zrulLn,5OKScc0MSa9Wl8g2zrulLn,998.0,...,1,0.0330,0.3230,0.000567,0.0537,0.963,131.842,303493,4,1989
398227,USWB10002747,"['dance', 'pop']",angel,madonna,Like a Virgin,1984-11-12,day,spotify:track:7ov1nZ2QZc3LIuCXXERZP0,7ov1nZ2QZc3LIuCXXERZP0,930.0,...,1,0.0357,0.2980,0.000207,0.3450,0.836,133.237,236133,4,1984

The reason for the high chart power is, that there are multiple songs with the same name but a different isrc number. Since the chart power df only contains the name and the artist there is no way around.

In [124]:
madonna_df[madonna_df['artists'].str.contains('madonna')].drop_duplicates(['name'])['chart_power'].sum()

14225.0

# Boney M.

In [82]:
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials
import pandas as pd
import requests
import json
import musicbrainzngs
import sqlalchemy
from sqlalchemy import text
from dotenv import load_dotenv
import os
from numpy import NaN
import time
import logging
logging.basicConfig(filename='info.log', level=logging.INFO)
from datetime import datetime
from ratelimit import limits,sleep_and_retry

In [83]:
load_dotenv()
# token = os.environ.get("ENV_VARIABLE")

SPOTIFY_CLIENT_ID = os.environ.get("SPOTIFY_CLIENT_ID")
SPOTIFY_CLIENT_SECRET = os.environ.get("SPOTIFY_CLIENT_SECRET")
LAST_FM_API_KEY = os.environ.get("LAST_FM_API")

SQL_USERNAME = os.environ.get('SQL_USERNAME')
SQL_PASSWORD = os.environ.get('SQL_PASSWORD')
SQL_SCHEMA=os.environ.get('SQL_SCHEMA')
SQL_TABLE=os.environ.get('SQL_TABLE')
SQL_DIALECT = os.environ.get('SQL_DIALECT')
SQL_DIRVER = os.environ.get('SQL_DRIVER')
SQL_HOST = os.environ.get('SQL_HOST')
SQL_PORT = os.environ.get('SQL_PORT')

In [84]:
client_credentials_manager = SpotifyClientCredentials(client_id=SPOTIFY_CLIENT_ID, client_secret=SPOTIFY_CLIENT_SECRET)
sp = spotipy.Spotify(client_credentials_manager=client_credentials_manager)

In [113]:
genres = sp.recommendation_genre_seeds()['genres']

for genre in genres:
    result = sp.search(q=f'artist:Boney M. genre:{genre}', type='track', limit=10, offset=50, market='DE')
    if len(result["tracks"]["items"]) != 0:
        print(genre)

rock

In [87]:
for year in range(1980, 1990):
    print(year)
    res = sp.search(q=f'artist:Boney M. year:{year}', type='track', limit=10, offset=50, market='DE')
    if len(res["tracks"]["items"]):
        print(res["tracks"]["items"])
    else:
        print('No song')

1980
No song
1981
No song
1982
No song
1983
No song
1984
No song
1985
No song
1986
No song
1987
No song
1988
No song
1989
No song

In [88]:
res = sp.search(q=f'artist:Boney M.', type='album', limit=10, offset=50, market='DE')

In [98]:
for album in res['albums']['items']:
    print(album['name'], album['release_date'])

L'Essentiel 1998-05-15
Dirty Dope Infected Blue Grass Hillbilly Hobo XXX Country Music 2003-11-01
Les Essentiels 2002-05-28
Feliz Navidad 2010-11-15
Maria (Original Motion Picture Soundtrack) 2019-03-11
Sunny (Instrumental) 1976
Sunny 2006-10-27
A Child Is Born 2010-05-30
The Greatest Hits 2001-11-29
Ramblin' Man 2008-07-11

In [110]:
res = sp.search(q=f'artist:Boney M.', type='track', limit=10, offset=0, market='DE')

In [111]:
res['tracks'].keys()

dict_keys(['href', 'items', 'limit', 'next', 'offset', 'previous', 'total'])

In [112]:
for song in res["tracks"]["items"]:
    print(song["name"]+ ': ' + song['album']['release_date'])

Daddy Cool: 1976
Sunny: 1976
Rasputin: 1994-03-14
Rivers of Babylon: 1978
Ma Baker: 1977
Rasputin - Single Version: 1984-12-03
Daddy Cool - Nick Raider Radio Mix: 2015-03-27
Daddy Cool: 1994-03-14
Gotta Go Home: 1979
Going Back West: 1993-10-08

In [ ]:
res["tracks"]["items"][0]["name"]